[Desktop Entry]
Type=Application
Name=ET Connector
Comment=EasyTier Web Connector
Exec=/opt/etconnector/EasyTierConnector
Icon=/opt/etconnector/favicon.png
Terminal=false
Categories=Utility;Qt;Web;Network;Internet;
